# Temporary LaTeX files
*.aux
*.bbl
*.blg
*.toc
*.out
*.bcf
/final_report/finalreport.run.xml


# Vim swap files
*.swp

# Log files (also generated with LaTeX)
*.log
*.1
*.2
*.3
*.4
*.5

# Java binaries
*.class
bin/

# Added by NetBeans (binaries and machine-specific files)
/implementation/beenutsFW/nbproject/private/
/implementation/beenutsFW/build/
/implementation/mako/logging.properties

*.gz

*.lck
