# Temporary LaTeX files
*.aux
*.bbl
*.blg
*.toc

# Log files (also generated with LaTeX)
*.log

# Java binaries
*.class
bin/

# Added by NetBeans (binaries and machine-specific files)
/implementation/beenutsFW/nbproject/private/
/implementation/beenutsFW/build/
*.1
implementation/mako/logging.properties
